@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Poppins:wght@400;700&display=swap');

.Admin {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-color-bg {
  background-color: rgba(147, 175, 218, 0.8);
}

.nav-link {
  color: #000;
}

.information-div {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 700;
  background-color: rgb(224, 233, 241);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

.clinic-name {
  color: rgb(62, 87, 170);
}

.body {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.description {
  z-index: 55;
  margin-top: -5rem;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px;
  width: 30%;
  padding: 1rem;
  text-align: center;
}

.description p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: left;
}

.footer {
  margin-top: 8rem;
}

.footer-in {
  margin: 0;
  justify-content: center;
}

.headers {
  line-height: 1rem;
  text-align: center;
}

.footer h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
}

.col-4 h3 {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: left;
}

.footer .col-4 {
  margin: 1rem;
  width: 25%;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px;
  padding: 2rem;
}

.footer-in {
  text-align: left;
}

.col-4 p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: left;
}

.form-prescription {
  margin-top: 20rem;
}

.doctor-img {
  width: auto;
  height: 600px;
}

.doctor-img-div {
  width: auto;
  height: 600px;
}

.body-doctor {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.information-div-doctor {
  display: flex;
  padding: 4rem;
  align-items: center;
  font-weight: bold;
  background-color: rgb(224, 233, 241);
  font-family: 'Poppins', sans-serif;
}